<ion-header class="ion-no-border">
    <ion-toolbar>
        <div _ngcontent-gor-c7="" class="logo">
            <span> <img _ngcontent-gor-c7="" src="../../assets/imgs/logo.png"> </span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="logo_laoapp ion-text-center">
            <img src="../../assets/imgs/logo.png" alt="">

        </div>
        <div class="name_app">
            <h4 class="ion-text-center">&nbsp; &nbsp; ຕະຫຼາດຮັ່ງມີ &nbsp; &nbsp;</h4>
        </div>

    </div>
    <!-- <div class="form_verification">
        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_iner d_flex856">
                    <ion-label>fkvnkjdkj</ion-label>
                </div>
            </ion-item>
        </ion-list>
    </div> -->
    <div class="form ion-text-center">
        <ion-list>
            <ion-item class="ion-text-center" lines="none">
                <ion-input maxlength="6" type="text" placeholder="ປ້ອນລະຫັດ6"></ion-input>
            </ion-item>
        </ion-list>
    </div>

    <div class="verification ion-text-center">
        <p>ກາລຸນາປ້ອນລະຫັດ6ຕົວເລກທີ່ທ່ານໄດ້ຮັບຈາກຂໍ້ຄວາມຈາກເບີ <br>+85620 95458604</p>
    </div>
    <div class="btn ion-text-center">
        <ion-button>
            ສະມັກສະມາຊິກ
        </ion-button>
    </div>

</ion-content>